<div class="text-center">
    <h1 class="display-4">Select Difficulty</h1>
    <hr />
    <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <form asp-action="CreateBoard">
                <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off">
                <label class="btn btn-secondary" for="option1">Easy</label>

                <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
                <label class="btn btn-secondary" for="option2">Medium</label>

                <input type="radio" class="btn-check" name="options" id="option3" autocomplete="off">
                <label class="btn btn-secondary" for="option3">Hard</label>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>

        <div class="col-md-4"></div>
    </div>
</div>