@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please <a asp-controller="Login" asp-action="Index">Login</a> or <a asp-controller="Registration" asp-action="Index">Register</a> to start playing.</p>
    <a class="begin" asp-controller="" asp-action="">Begin</a>
</div>
